@import url("https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #242248;
  position: relative;
}

main {
  display: block;
  margin-bottom: 3em;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #FFF;
}

.header-text {
  margin-top: 0;
  margin-bottom: 70px;
  font-size: 48px;
}

.outer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.image-container {
  z-index: 2;
  position: absolute;
  right: 60%;
  /* top: 75px; */
}

.join-btn {
  color: #526991;
  background-color: #fff;
  border: 1px solid #fff;
  min-height: 60px;
  line-height: 60px;
  height: auto;
  width: 200px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  transition: .2s ease-in;
}
.join-btn:hover{
  background-color:#242248;
  color: #fff;
}

.join-btn-label {
  padding-bottom: 18px;
}

.left-img {
  width: 400px;
}

.textbox {
  color: #fff;
  background-color: #526991;
  text-align: left;
  width: calc(50% + 100px);
  max-width: 635px;
  height: 531px;
  padding: 50px;
  /* position: absolute; */
  /* left: 40%; */
  /* margin-left: -100px; */
}

.textbox-content {
  /* padding-top: 100px; */
  /* padding-left: 178px; */
  margin-left: 28%;
  margin-top: 15%;
}
.textbox-content span {
  font-size: 18px;
}

.textbox-group {
  padding-top: 34px;
}
.textbox-group:first-of-type {
  padding-top: 18px;
}
.textbox-group h2 {
  font-size: 34px;
  margin: 0;
}
.textbox-group p {
  font-size: 24px;
  margin: 0;
}

.lato {
  font-family: "Lato", sans-serif;
  font-weight: normal;
}
.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.noto-serif {
  font-family: "Noto Serif", serif;
  font-weight: normal;
}

.uppercase {
  text-transform: uppercase;
}

.logo {
  width: 20%;
  margin-top: 40px;
  margin-bottom: 40px;
}
/********UNITED WAY STYLES********/
.united-way .textbox-content {
  margin-top: 0;
  margin-left: 30%;
}
.info-content-below-button {
  margin-top: 36px;
}
.info-content-below-button p{
  line-height: 1.4;
}
.united-way .textbox a.join-btn {
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 980px) {
  .united-way .left-img{
    width: 330px;
  }
  .united-way .textbox-content {
    margin-left: 34%;
  }
  .united-way .textbox {
    height: 600px;
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .header-text {
    font-size: 32px;
    margin-bottom: 0;
  }

  .image-container {
    position: static;
    margin: 0 auto;
    max-width: none;
  }

  .logo {
    width: 55%;
    margin-bottom: 0;
  }

  .left-img {
    display: block;
    position: absolute;
    margin: 0 auto;
    top: 25px;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    max-width: 318px;
  }

  .textbox {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 260px;
    max-width: none;
  }
  .united-way .textbox{
    height: 530px;
    padding: 60px 25px;
    top: 280px;
  }


  .textbox-content, .united-way .textbox-content {
    /* padding-left: 0; */
    /* padding-top: 80px; */
    text-align: center;
    margin-left: 0;
    margin-top: 8%;
  }
  .textbox-content span {
    font-size: 15px;
  }

  .textbox-group {
    padding-top: 25px;
  }
  .textbox-group:first-of-type {
    padding-top: 8px;
  }
  .textbox-group h2 {
    font-size: 28px;
  }
  .textbox-group p {
    font-size: 20px;
  }
}